body {
  padding: 25px;
}

.container-1 {
  border: 3px solid black;
  padding: 25px;
}

.rectangle-1 {
  background-color: blueviolet;
  height: 150px;
  width: 50px;
  display: inline-block;
}

.rectangle-2 {
  background-color: forestgreen;
  height: 200px;
  width: 400px;
  margin: 0 0 0 50px;
  display: inline-block;
}

.circle {
  background-color: skyblue;
  height: 200px;
  width: 200px;
  margin: 0 0 0 50px;
  display: inline-block;
  border-radius: 50%;
}

.container-2 {
  height: 300px;
  border: 3px dotted black;
  margin-top: 25px;
  padding: 50px;
}

.rectangle-3 {
  background-color: lemonchiffon;
  height: 100%;
  width: 100%;
  box-shadow: 10px 10px 5px black;
}

.container-3 {
  width: 50%;
  margin: 25px auto;
  padding: 100px;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 3px #c3c3c3;
}

.container-3 h1 {
  width: 100%;
  color: navy;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 10px;
  font-weight: bolder;
  text-align: center;
}